* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    background-color: #f4f7f9;
    display: flex;
    justify-content: center;
    padding: 0px; /*espaço na pagina */
    line-height: 1.5;
    color: #213c5a;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}

.resume {
    max-width: 1400px; /* Limita a largura máxima para melhor leitura */
    width: 100%;
    /*background-color: #281d4d;*/
     background: linear-gradient(135deg, #0b2b40 0%, #123d54 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    padding: 0px;
}

.fundo .imagem{
    width: 650px;
    height: auto;
   
}

.contact-redes-sociais {
            
        
       display: flex;
       grid-auto-flow: column; /* coloca os itens um ao lado do outro */
       gap: 65px; /* espaço entre os itens
       justify-content: space-between; /* distribui os itens com espaço entre eles */
       width: 100%;

        }


.contact {
      display: flex;
        gap: 20px;
        justify-content: right;
        align-items: right;
        margin-top: 50px;
        width: 950px;
       
    
}


.redes-sociais {


    display: flex;
    gap: 15px;
    justify-content: right;
    align-items: right;
    margin-top: 50px;
    width: 290px;
   
}

.social-icon {
    width: 30px;
    height: auto;
}
.social-icon:hover {
    transform: scale(1.3);
    transition: transform 0.4s ease;
}


.botao {
    /*(background: none;*/
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.botao:hover{
color: #93a3ec;
text-decoration: underline;
}



.footer-note{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
     background: linear-gradient(135deg, #0b2b40 0%, #123d54 100%);
    border: 1px solid #1b1e31;
}


